*{
    padding: 0;
    margin: 0;
}

.escenario {

}

.fondo{
    width: 1920px;
    height: auto;
}


.sol{
    width: 400px;
    
    position: absolute;
    left: 900px;

    animation-name: sol-animation;
    animation-duration: 30s;
    animation-delay: 0s;
    animation-iteration-count: 10;
    animation-timing-function: ease;
    animation-direction: normal;
}
@keyframes sol-animation{
    0%{
        opacity: 40%;
        transform: rotate(360deg);
    }
    30%{
        opacity: 50%;
    }
    50%{
        opacity: 70%;
    }
    100%{
        opacity: 60%;
    }
}

.nube{
    width: 1000px;
    
    position: absolute;
    top: -200px;
    left: -900px;

    animation-name: nube;
    animation-duration: 16s;
    animation-delay: 0s;
    animation-iteration-count: 10;
    animation-timing-function: ease;
    animation-direction: normal;
}
@keyframes nube{
    0%{
        top: -200px;
        left: -900px;
    }
    40%{
        top: 200px;
        left: 500px;
    }
    60%{
        top: 200px;
        left: 500px;
    }
    100%{
        top: -500px;
        left: 800px;
    }
}

.lluvia{
    width: 800px;
    
    position: absolute;
    left: 600px;
    top: 500px;
    opacity: 0;


    animation-name: lluvia;
    animation-duration: 5s;
    animation-delay: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-direction: normal;
}
@keyframes lluvia{
    0%{
        opacity: 10%;
        left: 500px;
    }
    10%{
        left: 600px;
    }
    20%{
        left: 700px;
    }
    50%{
        opacity: 100%;
        left: 600px;
    }
    100%{
        opacity: 0%;
        left: 700px;
    }
}

