*{
    padding: 0;
    margin: 0;
}

.escenario {

}

.fondo{
    width: 1920px;
    height: auto;
}


.sol{
    width: 400px;
    
    position: absolute;
    left: 900px;

    animation-name: sol-animation;
    animation-duration: 30s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
}
@keyframes sol-animation{
    0%{
        opacity: 40%;
        transform: rotate(360deg);
    }
    30%{
        opacity: 50%;
    }
    50%{
        opacity: 70%;
    }
    100%{
        opacity: 60%;
    }
}

.nube{
    width: 1000px;
    
    position: absolute;
    top: -200px;
    left: -900px;

    animation-name: nube;
    animation-duration: 16s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-direction: normal;
}
@keyframes nube{
    0%{
        top: -200px;
        left: -900px;
    }
    40%{
        top: 200px;
        left: 500px;
    }
    60%{
        top: 200px;
        left: 500px;
    }
    100%{
        top: -500px;
        left: 800px;
    }
}

.lluvia{
    width: 800px;
    
    position: absolute;
    left: 600px;
    top: 500px;
    opacity: 0;


    animation-name: lluvia;
    animation-duration: 5s;
    animation-delay: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-direction: normal;
}
@keyframes lluvia{
    0%{
        opacity: 10%;
        left: 500px;
    }
    10%{
        left: 600px;
    }
    20%{
        left: 700px;
    }
    50%{
        opacity: 100%;
        left: 600px;
    }
    100%{
        opacity: 0%;
        left: 700px;
    }
}

.flor{
    width: 200px;
    clip-path: inset(0 0 35% 0);
    opacity: 0;
    
    position: absolute;
    top: 600px;
    left: 800px;

    animation-name: flor;
    animation-duration: 30s;
    animation-delay: 6s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-direction: normal;
}
@keyframes flor{
    0%{
        opacity: 0%;
    }
    10%{
        opacity: 100%;
    }
    100%{
        opacity: 100%;
    }
}
.flor1{
    width: 200px;
    clip-path: inset(0 0 35% 0);
    opacity: 0;
    
    position: absolute;
    top: 580px;
    left: 700px;

    animation-name: flor1;
    animation-duration: 30s;
    animation-delay: 6.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-direction: normal;
}
@keyframes flor1{
    0%{
        opacity: 0%;
    }
    10%{
        opacity: 100%;
    }
    100%{
        opacity: 100%;
    }
}
.flor2{
    width: 200px;
    clip-path: inset(0 0 35% 0);
    opacity: 0;
    
    position: absolute;
    top: 570px;
    left: 570px;

    animation-name: flor2;
    animation-duration: 30s;
    animation-delay: 6.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-direction: normal;
}
@keyframes flor2{
    0%{
        opacity: 0%;
    }
    10%{
        opacity: 100%;
    }
    100%{
        opacity: 100%;
    }
}
.flor3{
    width: 150px;
    clip-path: inset(0 0 35% 0);
    opacity: 0;
    
    position: absolute;
    top: 550px;
    left: 750px;

    animation-name: flor3;
    animation-duration: 30s;
    animation-delay: 6.6s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-direction: normal;
}
@keyframes flor3{
    0%{
        opacity: 0%;
    }
    10%{
        opacity: 100%;
    }
    100%{
        opacity: 100%;
    }
}
.flor4{
    width: 200px;
    clip-path: inset(0 0 35% 0);
    opacity: 0;
    
    position: absolute;
    top: 550px;
    left: 650px;

    animation-name: flor4;
    animation-duration: 30s;
    animation-delay: 6.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-direction: normal;
}
@keyframes flor4{
    0%{
        opacity: 0%;
    }
    10%{
        opacity: 100%;
    }
    100%{
        opacity: 100%;
    }
}
.flor5{
    width: 150px;
    clip-path: inset(0 0 35% 0);
    opacity: 0;
    
    position: absolute;
    top: 560px;
    left: 850px;

    animation-name: flor5;
    animation-duration: 30s;
    animation-delay: 6.20s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-direction: normal;
}
@keyframes flor5{
    0%{
        opacity: 0%;
    }
    10%{
        opacity: 100%;
    }
    100%{
        opacity: 100%;
    }
}

